<footer class="bg-dark text-white pt-5 pb-4 mt-5">
  <div class="container text-md-left"> 
    <div class="row text-md-left"> 
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Leftoria Library</h5>
        <p>
          Melancholia street 84 Breklyn.
        </p>
        <p>
          Manuvegio, Kryston.
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
        <p>
          <i class="fa-solid fa-square-phone mr-3">   0000 112233</i>
        </p>
        <p>
          <a href="https://www.instagram.com/left.or.right.or/" target="_blank" class="text-white"><i class="fa-brands fa-instagram mr-3">   left.or.right.or</i></a>
        </p>
      </div>
    </div>

    <br class="mb-4">

    <div class="row">
      <div class="col-md-5 col-lg-6 text-center" >
        <p>© 2023 Leftoria Library. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>