<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center text-success">Welcome to Leftoria Library</h4>
      <h2 class="text-center text-warning font-weight-bold"><%= visitorLog.name %></h2>

      <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <div class="card text-center mb-3 mt-4" style="width: 24rem;">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-secondary">John Lubbock, The Pleasures of Life</h5>
            <p class="card-text">“We may sit in our library and yet be in all quarters of the earth.”</p>
            <a href="/" class="btn btn-info badge">Home</a>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>